{# Thesis records' listing. #}

{% extends "base.html" %}

{% load staticfiles %}

{% block custom_scripts %}
    <script type="text/javascript" src="{% static 'listing.js' %}"></script>
{% endblock %}

{% block content %}
    <div id="listing">
        <form id="form-template" method="POST" style="display: none;">
            {% csrf_token %}
        </form>

        <div align="left">
            <font size="6">
                Twoje Prace:
            </font>
        </div>

		<div align="right">
            <button id="get-xml-btn">Pobierz XML</button>
            <button id="create-btn">Utwórz</button>
            <button id="edit-btn">Edytuj</button>
            <button id="delete-btn">Usuń</button>
		</div>

		</br>

		<div align="center">
			<table>
				<tr id="header" bgcolor="#779CB0">
					<th>
						<input type="checkbox" name="Praca" value="all">
					</th>
					<th width="150">
						<span>Rodzaj pracy</span>
					</th>
					<th width="350">
						<span>Nazwisko i Imię</span>
					</th>
					<th width="350">
						<span>Tytuł</span>
					</th>
					<th width="150">
						<span>Data</span>
					</th>
				</tr>

                {% for thesis in theses %}
                <tr class="thesis" data-kind="{{ thesis.kind }}">
                        <td>
                            <input type="checkbox" name="Praca" value="{{ thesis.id }}">
                        </td>
                        <td width="150">
                            {% if thesis.kind == "B" %}
                                inżynierska
                            {% else %}
                                magisterska
                            {% endif %}
                        </td>
                        <td width="350">
                            {{ thesis.authorName }} {{ thesis.authorSurname }}
                        </td>
                        <td width="350">
                            {{ thesis.titlePL }}
                        </td>
                        <td width="150">
                            {{ thesis.issueDate }}
                        </td>
                    </tr>
                {% endfor %}
			</table>
		</div>

    </div>
{% endblock %}

