{# Login form. #}

{% load staticfiles %}

<!doctype html>
<html>
    <head>
        <title>RDE - RepoDyplomEdytor</title>

        <link href="{% static 'common.css' %}" rel="stylesheet" type="text/css" />
        <link href="{% static 'login.css' %}" rel="stylesheet" type="text/css" />

        <style type="text/css">
            #password-box.enabled > .password-enable {
                display: none;
            }

            #password-box.enabled > .password-input {
                display: block;
            }

            #password-box > .password-enable {
                display: block;
            }

            #password-box > .password-input {
                display: none;
            }
        </style>

        <script type="text/javascript" src="{% static 'jquery-1.11.3.min.js' %}"></script>

        <script type="text/javascript">
            $(function() {
                $(".password-enable").on("click", function() {
                    $("#password-box").addClass("enabled");
                });
            });
        </script>
    </head>

    <body>
        {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                    <li class="{{message.level}}">{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}

        <div class="main" align="center" id="login-form">
            <h2>Zaloguj się:</h2>

            <form action="/login/" method="POST">
                {% csrf_token %}

                {% if error %}
                    <p class="error">Niepoprawny login lub hasło!</p>
                {% endif %}

                E-mail:
                <input type="text" name="login" size="17">
                <input type="text" placeholder="@ii.pw.edu.pl" disabled size="13">
                <br><br>

                <div id="password-box">
                    <a href="#" class="password-enable">
                        Wprowadź lub ustaw hasło
                    </a>

                    <div class="password-input">
                        Hasło:
                        <input type="password" name="password" size="30">
                        <br><br>
                    </div>
                </div>

                <input type="submit" value="Zaloguj">
            </form>
        </div>
    <body>
</html>

