{# Login form. #}

{% extends "base.html" %}

{% block content %}
    <h1>Login</h1>

    <form action="/login/" method="POST">
        {% if error %}
            <p>Niepoprawny login lub hasło!</p>
        {% elif message %}
            <p>{{ message }}</p>
        {% endif %}

        {% csrf_token %}
        <dl>
            <dt>Login:</dt>
            <dd>
                <input type="text" name="login" />
            </dd>

            <dt>Hasło:</dt>
            <dd>
                <input type="password" name="password" />
            </dd>

            <input type="submit" value="Zaloguj" />
        </dl>
    </form>
{% endblock %}

