{# Login form. #}

{% extends "base.html" %}

{% block content %}
	<div class="main" align="center" id="login-form">
		<h2>Zaloguj się:</h2>

        <form action="/login/" method="POST">
            {% csrf_token %}

            {% if error %}
                <p class="error">Niepoprawny login lub hasło!</p>
            {% endif %}

            E-mail:
            <input type="text" name="login" size="17">
            <input type="text" placeholder="@ii.pw.edu.pl" disabled size="13">
            <br><br>

            Hasło:
            <input type="text" name="password" size="30">
            <br><br>

            <input type="submit" value="Zaloguj">
        </form>
	</div>
{% endblock %}

